body {
  background-color: #E2A76F;
}
h1 {
  text-align:center;font-size:300%;font-family:'Segoe UI';color: beige;
}
h2 {
    text-align:center;font-size:150%;font-family:'Segoe UI';
}
p {
    text-align:center;font-family:'Segoe UI';
}